Source: ros-jazzy-cras-topic-tools
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), libcxxopts-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gen-version-h, ros-jazzy-cras-cpp-common, ros-jazzy-cras-lint <!nocheck>, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-std-msgs, ros-jazzy-topic-tools, ros-jazzy-ros-workspace
Homepage: https://wiki.ros.org/cras_topic_tools
Standards-Version: 3.9.2

Package: ros-jazzy-cras-topic-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-cras-cpp-common, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-std-msgs, ros-jazzy-topic-tools, ros-jazzy-ros-workspace
Description: Nodes and components for safe and efficient manipulation with topics
